.raleway{
  font-family: 'Raleway', sans-serif;
}
.bg-img{
  background-image: url(../images/banner2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
  
}

.roboto{
  font-family: "Roboto", sans-serif;
}
.border{
border: 2px dashed;
border-color: rgba(19, 19, 24, 0.20);
}


.diver2{
  border: 2px dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(247, 242, 245, 0.76);
}
.diver{
  border: 2px dashed;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-color: rgba(19, 19, 24, 0.20);
}
.hov {
  display: inline-block;
  background-color: #dcf3dd; 
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect */
.hov:hover {
  background-color: #fdfdfd;
}
.keyButton {
  background-color:#4CAF50 ;

}